form 
{
	text-align: left;
}

/* Elements */
form label, form legend 
{
	padding: 0;
	margin: 0.3em 0;
}

form label 
{
	font-weight: bold;
}

form input[type="text"], form input[type="password"] 
{
	width: 100%;
	line-height: 1.5em;
}

form input, form textarea, form select 
{
	display: block;
	margin-bottom: 1em;
	margin-right: 1em;
	padding: 0.15em;
	border: 1px solid #bbb;
	font-size: 1em;
}

/* Button */
form button 
{
	margin: 0.3em 0;
	border: 1px solid #ccc;
	background-color: #eee;
	font-size: 1em;
	cursor: pointer;
	padding: 0.5em
}

form button:hover {
	background-color: #E6EFC2;
	border: 1px solid #C6D880;
	color: #529214;
}

form button:active {
	background-color: #333;
	color: white;
	border: 1px solid #000;
}

/* information */
form .header {
	margin-bottom: 1em;
	/*padding-bottom: 0.5em;*/
	border-bottom: 0.1em solid #ddd;
}

form .header h2 {
	color: #00889e;
	font-weight: bold;
	font-size: 1.2em;
	margin-bottom: 1em
}

form .header p {
	text-align: justify
}

form .required {
	color: #ff3838;
	font-weight: bold;
	font-size: 0.8em;
}