@import url("messages/messages.css");
@import url("form.css");

* {
	margin: 0;
	padding: 0;
}

a img, frameset, fieldset { 
	border: 0;
}

a:visited {
}

a {
	color: #0095D3;
	outline: medium none;
	text-decoration: underline;
}

p {
	margin: 0 0 0.5em;
}

h2, h3, h4, h5 {
	font-weight:300;
}

h2 {
	color: #3C3D40;
	font-size: 1.6em;
	font-weight: 700;
	margin: 0 0 25px;
}

h3 {
	color: #3C3D40;
	font-size: 1.3em;
	font-weight: bold;
	margin: 0 0 10px;
}

h4 {
	font-size: 1.12em;
	margin: 0 0 10px 0;
	color: #272727;
	font-weight: bold;
}

h5 { 
	font-weight: bold;
	margin: 0 0 0 0;
	font-size:1.12em;
}

.listings {
	list-style-type: none;
	margin: 0 0 20px;
}

.listing {
	clear: both;
	list-style-type: none;
	margin-bottom:5px;
	overflow: hidden;
	padding: 0 0 5px;
}

.listing img {
	float: left;
	margin-right: 8px;
	line-height: 0;
	position: relative;
}

dl {
	list-style-type: none;
	margin: 0 0 20px 0;
}

dt {
	float: left;
	clear: left;
	width: 8em;
}

dd {
 	margin: 0 0 0 9em;
 	padding: 0 0 2.5em 0;
}

textarea, body, input, button, a.button {
	font-family: "lucida grande", lucida, tahoma, helvetica, arial, sans-serif !important;
}

body {
	background: url("background-body.png") repeat-x scroll 0 0 #EEEEEE;
	font-size: 80%;
}

#header, #content, #footer {
	margin: 0 auto;
	width: 944px;
}

#header {
	height: 92px;
	position: relative;
	display: block;
}

#header h1 a {
	background: url("logo-header.png") no-repeat scroll 0 0 #6DB33F;
	display: block;
	height: 83px;
	left: 2px;
	position: relative;
	top: 0;
	width: 243px;
}

#header h1 a img {
	left: -9999px;
	position: relative;
}

#nav {
	position: absolute;
	right: 0;
	top: 60px;
}

#nav li {
	float: left;
	list-style-type: none;
	margin-left: 10px;
}

#nav li a {
	color: #FFFFFF;
	display: block;
}

#content-container {	
	background-color: #EEEEEE;
	padding: 25px;	
}

#content {
	background-color: #FFFFFF;
	padding: 25px;
}

#footer {
	height: 90px;
	line-height: 1.5em;
	padding: 10px 0 30px;
}

#springsource {
	background:url("logo-springsource.png") no-repeat scroll 0 0 transparent;
	display: block;
	float: right;
	height: 40px;
	text-indent: -9999px;
	width: 157px;	
}

#nav-secondary {
	float: left;
	list-style-type: none;
	margin: 8px 0 0;
	text-align: right;
	width: 600px;
}

#nav-secondary li {
	display: block;
	float: left;
	margin: 0 10px 0 0;
}

#footer p {
	float: left;
	padding: 10px 0 0;
	text-align: left;
	text-shadow: 0 1px 0 #F1FBFF;
	width: 500px;
}

#connectedProfiles  {
	list-style-type: none;
	margin-bottom: 8px;
}

#connectedProfiles li {
	display: inline;
	margin-right: 8px;
}

#connectedAccounts li {
	padding-bottom: 12px;
}

#connectedAccounts li h4 img {
	display: block;
	float: none;
	max-height: 40px;
	max-width: 88px;
}

#intro {
	margin-bottom: 16px;
}

#appIcons a {
	margin-right:12px;
}

#appIcons img {
	max-height: 43px;
	max-width: 130px;
}