@import url("messages/messages.css");
@import url("form.css");

body {
	font-family: Lucida Grande, sans-serif;
	font-size: .75em;
	margin: 1em auto;
	width: 763px;
}

ul li {
	padding: 5px;
}

#topbar {
	text-align: right;
}

li.eventTweet {
	list-style: none;
	padding-bottom: 10pt;
}

ul#inviteNetworks li {
	list-style: none;
	padding-bottom: 20pt;
}

dt.event {
	list-style: none;
	font-size: 1.2em;
}

dd.event {
	padding-bottom: 10pt;
}

dt.event span.locationAndDate {
	font-size: .75em;
	font-style: italic;
}

#recentActivityList {
	list-style: none;
}

#recentActivityList li {
	border: 1px solid #000;
	height:5em;
	overflow:hidden;
}

#recentActivityList img {
	width: 5em;
	vertical-align:middle;
}

#recentActivityList img.profile {
	float:left;
	padding-right:2em;
}

#recentActivityList img.activity {
	float:right;
}

#recentActivityList li.newItem {
	display: none;
}