#recentActivityList li {
	border-bottom: 1px solid #EEEEEE;
	height: 5em;
	overflow: hidden;
}

#recentActivityList img {
	width: 5em;
	vertical-align: middle;
}

#recentActivityList img.profile {
	float:left;
	padding-right: 2em;
}

#recentActivityList img.activity {
	float: right;
}

#recentActivityList li.newItem {
	display: none;
}